*.o
*.a
*.lo
*.log
pcc-libs/Makefile
pcc-libs/config.status
pcc-libs/csu/Makefile
pcc-libs/libpcc/Makefile
pcc-libs/libsoftfloat/Makefile
pcc/Makefile
pcc/cc/Makefile
pcc/cc/cc/Makefile
pcc/cc/cc/cc
pcc/cc/ccom/Makefile
pcc/cc/ccom/ccom
pcc/cc/ccom/cgram.c
pcc/cc/ccom/cgram.h
pcc/cc/ccom/external.c
pcc/cc/ccom/external.h
pcc/cc/ccom/mkext
pcc/cc/ccom/scan.c
pcc/cc/cpp/Makefile
pcc/cc/cpp/cpp
pcc/cc/cxxcom/Makefile
pcc/cc/cxxcom/cgram.c
pcc/cc/cxxcom/cgram.h
pcc/cc/cxxcom/cxxcom
pcc/cc/cxxcom/external.c
pcc/cc/cxxcom/external.h
pcc/cc/cxxcom/mkext
pcc/cc/cxxcom/scan.c
pcc/cc/driver/Makefile
pcc/config.h
pcc/config.status
pcc/f77/Makefile
pcc/f77/f77/Makefile
pcc/f77/fcom/Makefile
